.venv/
__pycache__/
.pytest_cache/
*.pyc
.DS_Store
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform/environments/*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
tfplan.json
